* 
{
  box-sizing: border-box;
}
body 
{
  margin: 0;
}
.main-container 
{
  border: 1px solid red;
  height: auto;
  display: flex;
  flex-direction: column;
}
header,
section,
footer
{
  border: 2px solid blue;
}
header
{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px 20px;
}
header nav
{
  width: 400px;
}
header nav ul
{
  padding: 0;
  list-style-type: none;
  display: flex;
  width: 100%;
  justify-content: space-between;
}
header nav ul li a
{
  text-decoration: none;
  color: black;
  font-weight: bold;
  text-transform: uppercase;
}
header nav ul li a:hover
{
  color: aqua;
}
div
{
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-content: center;
}
@media (max-width: 900px)
{
  section 
  {
    flex-direction: column;
    height: 100%;
  }
}
footer ul li a 
{
  height: 44px;
  margin: 0;
  padding: 0;
  width: 44px;
  justify-content: space-between;
}